table {
    width: 238rem;
    /* border: 1px solid lightgray; */
    overflow: auto;
}
.tablesection{
    /* width: 300rem; */
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: calc(100vh - 10rem);
}
.mat-elevation-z8{
    padding: 20px;
}

.main-content {
    padding: 10px;
}


.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-run {
    background: var(--secondary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}


/* Cards Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.card-title {
    font-weight: 700;
    color: #374151;
}

/* List Items */
.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f3f4f6;
    align-items: center;
}

.badge {
    background: #D1FAE5;
    color: #065F46;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
}

.btn-add {
    width: 100%;
    background: var(--secondary);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}