<div class="example-stepper">
    <div class="header">
        <div class="header-title">
            <h1>Compliance Management System</h1>
            <span><i class="fas fa-map-marker-alt"></i> Viewing Region: Delhi NCR</span>
        </div>
        <div class="user-profile">
            <i class="fas fa-user-circle fa-2x" style="color:green"></i>
            <div>
                <div>Amit Verma</div>
                <small>Senior Inspector, CPCB</small>
            </div>
        </div>
    </div>
    <mat-stepper [orientation]="(stepperOrientation | async)!">
        <mat-step [stepControl]="firstFormGroup" label="Industry Profile">
            <form [formGroup]="firstFormGroup">
                <!-- <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field> -->
                <div id="tab1" class="tab-content active">
                    <h3 class="section-title">1.1 Basic Identity</h3>
                    <div class="form-grid">
                        <div class="form-group">
                            <label>Industry Name <span style="color:red">*</span></label>
                            <input type="text" class="form-control" value="ABC Textiles Pvt Ltd"
                                placeholder="Official Name">
                        </div>
                        <div class="form-group">
                            <label>Unique ID (System Gen)</label>
                            <input type="text" class="form-control" value="DEL-IND-2025-089" disabled=""
                                style="background: #e0e0e0;">
                        </div>
                        <div class="form-group">
                            <label>Sector Category</label>
                            <select class="form-control" id="sectorSelect">
                                <option value="">Select Sector</option>
                                <option value="Food">Food</option>
                                <option value="Textile">Textile</option>
                                <option value="Furnace">Furnace</option>
                                <option value="Other-Red_M&amp;L">Other-Red_M&amp;L</option>
                            </select>
                        </div>
                    </div>

                    <h3 class="section-title">1.2 Location Details</h3>
                    <div class="form-grid">
                        <div class="form-group">
                            <label>District <span style="color:red">*</span></label>
                            <select class="form-control" id="districtSelect" onchange="updateState()">
                                <option value="">Select District</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Palwal">Palwal</option>
                                <option value="Faridabad">Faridabad</option>
                                <option value="Gurugram">Gurugram</option>
                                <option value="Panipat">Panipat</option>
                                <option value="Nuh">Nuh</option>
                                <option value="Sonipat">Sonipat</option>
                                <option value="Jhajjar">Jhajjar</option>
                                <option value="Bhiwani">Bhiwani</option>
                                <option value="Rewari">Rewari</option>
                                <option value="Jind">Jind</option>
                                <option value="Rohtak">Rohtak</option>
                                <option value="Charkhi Dadri">Charkhi Dadri</option>
                                <option value="Karnal">Karnal</option>
                                <option value="Ballabgarh">Ballabgarh</option>
                                <option value="Mahendergarh">Mahendergarh</option>
                                <option value="Kotputali-Behror">Kotputali-Behror</option>
                                <option value="Alwar">Alwar</option>
                                <option value="Khairthal-Tijara">Khairthal-Tijara</option>
                                <option value="Deeg">Deeg</option>
                                <option value="Gautam Budh Nagar">Gautam Budh Nagar</option>
                                <option value="Bulandshahr">Bulandshahr</option>
                                <option value="Muzaffarnagar">Muzaffarnagar</option>
                                <option value="Ghaziabad">Ghaziabad</option>
                                <option value="Hapur">Hapur</option>
                                <option value="Meerut">Meerut</option>
                                <option value="Baghpat">Baghpat</option>
                                <option value="Shamli">Shamli</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>State (Auto-selected)</label>
                            <select class="form-control" id="stateSelect" disabled="">
                                <option value="">Select State</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Rajasthan">Rajasthan</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Address (Detailed)</label>
                            <input type="text" class="form-control" placeholder="Plot No, Street...">
                        </div>
                        <div class="form-group">
                            <label>Latitude (Verified)</label>
                            <input type="number" class="form-control" placeholder="28.6139">
                        </div>
                        <div class="form-group">
                            <label>Longitude (Verified)</label>
                            <input type="number" class="form-control" placeholder="77.2090">
                        </div>
                        <div class="form-group">
                            <label>Operational Status</label>
                            <select class="form-control">
                                <option>Operational</option>
                                <option>Closed (Self)</option>
                                <option>Closed (Direction)</option>
                                <option>Seasonal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="next_button">
                    <button matButton="outlined" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="OCEMS Details">
            <form [formGroup]="secondFormGroup">
                <!-- <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field> -->
                <div id="tab2" class="tab-content" style="display: block;">
                    <div
                        style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                        <h3 class="section-title" style="margin-bottom:0">2.1 OCEMS Device Inventory</h3>
                        <button type="button" class="add-btn"><i class="fas fa-plus"></i> Add Another Device</button>
                    </div>

                    <div class="device-card">
                        <div class="card-header">
                            <h4><i class="fas fa-microchip"></i> Device #1: Emission Monitoring</h4>
                            <button class="btn-outline"
                                style="height:30px; font-size: 0.8rem; padding: 0 10px;">Remove</button>
                        </div>

                        <div class="form-grid">
                            <div class="form-group">
                                <label>Installed Status</label>
                                <select class="form-control">
                                    <option>Installed</option>
                                    <option>In Process (Order Placed)</option>
                                    <option>Not Installed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Manufacturer Name <span style="color:red">*</span></label>
                                <small>Select from Approved List (NPL)</small>
                                <select class="form-control" id="manufacturerSelect" onchange="updateModels()">
                                    <option value="">Select Manufacturer</option>
                                    <option value="PRIMA Equipment">PRIMA Equipment</option>
                                    <option value="NEVCO Engineers Pvt Ltd">NEVCO Engineers Pvt Ltd</option>
                                    <option value="ACE GAS ANALYSERS PRIVATE LIMITED">ACE GAS ANALYSERS PRIVATE LIMITED
                                    </option>
                                    <option value="Endress+Hauser (India) Pvt. Ltd.">Endress+Hauser (India) Pvt. Ltd.
                                    </option>
                                    <option value="Envea India Private Limited">Envea India Private Limited</option>
                                    <option value="Horiba India Pvt. Ltd.">Horiba India Pvt. Ltd.</option>
                                    <option value="Envirozone Instruments &amp; Equipments Pvt. Ltd.">Envirozone
                                        Instruments &amp; Equipments Pvt. Ltd.</option>
                                    <option value="DURAG India / Instrumentation Pvt. Ltd.">DURAG India /
                                        Instrumentation Pvt. Ltd.</option>
                                    <option value="Forbes Marshall">Forbes Marshall</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Model Number <span style="color:red">*</span></label>
                                <select class="form-control" id="modelSelect" onchange="updateCertificate()">
                                    <option value="">Select Model</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>NPL Certificate No.</label>
                                <input type="text" class="form-control" id="certInput" placeholder="Auto-populated"
                                    readonly="" style="background-color: #e9ecef;">
                            </div>

                            <div class="form-group">
                                <label>Parameters Monitored</label>
                                <select class="form-control" multiple="" style="height: 50px;">
                                    <option>PM</option>
                                    <option>SO2</option>
                                    <option>NO2</option>
                                    <option>CO</option>
                                    <option>CO2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Cost of Device (INR)</label>
                                <input type="number" class="form-control" placeholder="For market tracking">
                            </div>
                        </div>

                        <div class="form-grid">
                            <div class="form-group">
                                <label>Date of Installation</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Connectivity to CPCB Server</label>
                                <select class="form-control">
                                    <option>Connected</option>
                                    <option>Not Connected</option>
                                    <option>Offline &gt; 48hrs</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>PTZ Camera Installed? (Surveillance)</label>
                                <small>Mandatory for Metal/Food/Textile</small>
                                <select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next_button">
                    <button matButton="outlined" matStepperPrevious>Back</button>
                    <button matButton="outlined" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" label="APCD Assets">
            <form [formGroup]="thirdFormGroup">
                <!-- <mat-form-field>
                    <mat-label>Phone number</mat-label>
                    <input matInput formControlName="thirdCtrl" placeholder="Ex. 12345678" required>
                </mat-form-field> -->
                <div class="tab-content" style="display: block;">
                    <h3 class="section-title">3.1 Air Pollution Control Devices (APCD)</h3>

                    <div class="device-card">
                        <div class="card-header">
                            <h4><i class="fas fa-industry"></i> Source: Boiler/Furnace 1</h4>
                        </div>
                        <div class="form-grid">
                            <div class="form-group">
                                <label>Source Type</label>
                                <select class="form-control">
                                    <option>Boiler</option>
                                    <option>Furnace</option>
                                    <option>Heater</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fuel Used</label>
                                <select class="form-control">
                                    <option>Coal</option>
                                    <option>PNG/CNG</option>
                                    <option>Agro Waste</option>
                                    <option>HSD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Attached APCD Type</label>
                                <select class="form-control">
                                    <option>Bag Filter</option>
                                    <option>ESP (Electrostatic Precipitator)</option>
                                    <option>Wet Scrubber</option>
                                    <option>Cyclone</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Stack Height (meters)</label>
                                <input type="number" class="form-control" placeholder="Ex: 30">
                            </div>
                            <div class="form-group">
                                <label>Sampling Port Available?</label>
                                <select class="form-control">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next_button">
                    <button matButton="outlined" matStepperPrevious>Back</button>
                    <button matButton="outlined" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Compliance & Legal</ng-template>
            <div id="tab4" class="tab-content" style="display: block;">
                <h3 class="section-title">4.1 Legal &amp; Direction Status</h3>

                <div class="form-grid">
                    <div class="form-group">
                        <label>Current Status</label>
                        <div
                            style="padding: 10px; background: #FFF3CD; border: 1px solid #FFECB3; border-radius: 8px; color: #856404;">
                            <i class="fas fa-exclamation-triangle"></i> Show Cause Notice Issued
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Inspection Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Inspection Officer</label>
                        <input type="text" class="form-control" value="Kamlesh Singh" readonly="">
                    </div>
                </div>

                <h3 class="section-title">4.2 Compliance Checklist</h3>
                <div class="form-grid">
                    <div class="form-group">
                        <label>Floated Requirement?</label>
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Applied for Connectivity?</label>
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Registered on CPCB Portal?</label>
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="next_button">
                <button matButton="outlined" matStepperPrevious>Back</button> 
                <button matButton="outlined" >Final Submit</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>