.main-content {
    padding: 10px;
}

.query-row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.q-input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    flex: 1;
}

.right_button {
    display: flex;
    gap: 10px;
}

/* Report Specific Styles */
.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.report-header h2 {
    font-size: 25px;
}

.report-header p {
    margin-top: 10px;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}

.tab {
    padding: 10px 20px;
    border: none;
    background: none;
    font-weight: 600;
    color: #6B7280;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tab.active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

/* Query Builder */
.query-builder {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    border: 1px solid var(--border);
}

.query-row {
    display: flex;
    gap: 5px;
    justify-content: center;
}



.btn-run {
    background: var(--secondary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Complex Table */
.table-container {
    background: white;
    border-radius: 12px;
    padding: 20px;
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    height: auto;
    max-height: 28rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px;
}

th {
    background: #F9FAFB;
    padding: 12px;
    text-align: left;
    font-size: 0.85rem;
    color: #4B5563;
    border-bottom: 2px solid var(--border);
    white-space: nowrap;
}

td {
    padding: 12px;
    border-bottom: 1px solid var(--border);
    font-size: 0.9rem;
}

.highlight-col {
    background: #F0FDF4;
    font-weight: 600;
    color: var(--primary);
}