
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$compact-theme: mat.define-theme(
  (
    density: (
      scale: -4
    )
  )
);

// html {
//   @include mat.theme((
//     color: (
//       primary: mat.$azure-palette,
//       secondary: mat.$green-palette,
//       error: mat.$red-palette,
//     ),
//     typography: Roboto,
//     density: 0s
//   ));
// }

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      secondary: mat.$green-palette,
      error: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0
  ));
}
:root {
  @include mat.form-field-density($compact-theme);
  --mat-sys-primary: #157d15;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #dcfce7;
  --mat-sys-on-primary-container: #052e16;
  --mat-form-field-error-text-color: var(--mat-sys-error);
  --mat-form-field-error-focus-text-color: var(--mat-sys-error);
   /* WARN / ERROR */
  --mat-sys-error: #dc2626;
  --mat-sys-warn: #dc2626;
  --mat-sys-on-warn: red;

}
body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-body-medium);//--mat-sys-surface
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
